<svg id="root" class="wide">
	<g id="map">
	</g>
</svg>
<div id="toolbar" class="z_index_1 fixed">
	<button id="create"  onclick="createNewNote();" hidden>create</button>
	<div id="viewers"></div>
</div>
<script src="/static/notes.js"></script>
