<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<script src="/rmi_js"></script>
<script src="/static/rmi.js"></script>
<link rel="stylesheet" href="/static/style.css">
