html, body{
	overscroll-behavior: none;
	overscroll-behavior-y: none;
}
.draggable{
	display:block;
	width:256px;
	height:256px;
	position:fixed;
}
.transparent{
	background: transparent;
}
.wide{
	box-sizing:border-box;
	width:100%;
	height:100%;
}
.z_index_1{
	z-index:1;
}
textarea{
	resize:none;
}
#root{
	position:fixed;
	overflow:visible;
	left:0px;
	top:0px;
}
.fixed{
	position:fixed;
}
#toolbar > * {
	display:inline-block;
}

